.Rproj.user
.Rhistory
.RData
.Ruserdata
# Don't commit the example, it's just for reference
templates/example.Rmd
# Don't commit any rendered template
templates/examples/*

## Hugo stuff
# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Hugo
public/

# No data committed
static/data/*

# Mac general
.DS_Store
.AppleDouble
.LSOverride